BUSINESS_DATA_PROVIDER=osm
OVERPASS_API_URL=https://overpass-api.de/api/interpreter
MAX_CATEGORIES_PER_SEARCH=3
DEFAULT_RADIUS_KM=10
MAX_RADIUS_KM=50
MAX_RESULTS=200
MAX_CONTACT_ENRICHMENT=10
OVERPASS_CACHE_SECONDS=1800
NEXT_PUBLIC_MAP_STYLE_URL=https://tiles.openfreemap.org/styles/liberty
NEXT_PUBLIC_GITHUB_URL=https://github.com/MuhammadMuneeb007/LeadForge
